.chart-container {
  position: relative;
  margin: auto;
  height: 60%;
  width: 40%;
}

canvas{
  position: relative;
  left: 15%;
}

.sidenav{
  width: 290px !important;
  margin-top: 0px !important;
}
